<!DOCTYPE html>
<html lang="pt">
  <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <title>SIDIC</title>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="https://pyscript.net/releases/2024.3.1/core.css">

      <script type="module" src="https://pyscript.net/releases/2024.3.1/core.js"></script>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"/>
      <link rel="stylesheet" href="../static/Styles/index.css"/> 
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand btn btn-light" href="#" onclick="showSection('home')">ChatFlow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarMoviesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sobre nós
              </a>
              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarMoviesDropdown">
                <li><a class="dropdown-item" href="#Linguagens" onclick="showSection('home')">Linguagens usadas</a></li>
                <li><a class="dropdown-item" href="#Equipa" onclick="showSection('home')">Equipa</a></li>
                <li><a class="dropdown-item" href="#Objetivos" onclick="showSection('home')">Objetivos</a></li>
                <li><a class="dropdown-item" href="#Manual" onclick="showSection('home')">Manual de utilizador</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link loggedIn" href="#" onclick="getUser();showSection('user')">User</a>
            </li>
          </ul>

          <form class="loggedOut">
            <button class="btn btn-primary me-2" id="btnNavLogin" type="button">Login</button>
            <button class="btn btn-secondary me-2" id="btnNavSignup" type="button">Signup</button>
          </form>

          <form class="loggedIn">
            <span class="navbar-text me-2" id="userLogged">
              user@email.com
            </span>
            <button class="btn btn-warning me-2" id="btnNavlogout" type="button" onclick="delLogout()">Logout</button>
          </form>

        </div>
      </div>
    </nav>
    
    <section id="home">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div id="Linguagens" class="container-fluid p-5">
        <h2>Linguagens usadas</h2>
        <p>ajshgduasd</p>
      </div>
  
      <div id="Equipa" class="container-fluid p-5">
        <h2>Equipa</h2>
        <p>ahjsgbdawd</p>
      </div>
  
      <div id="Objetivos" class="container-fluid p-5">
        <h2>Objetivos</h2>
        <p>d.aksbjhdkasd</p>
      </div>

      <div id="Manual" class="container-fluid p-5">
        <h2>Manual de utilizador</h2>
        <p>daskhjbgdaw</p>
      </div>
    </section>
  
    <section id="ChatBot" class="container-fluid">
      <h3 id="moviesType">ChatBot</h3>
      <div id="movieContainer" class="card-wrapper"></div>
      <div class="navbar navbar-expand-lg d-flex justify-content-end" id="pageNav">
        <button type="button" class="btn btn-primary me-2" id="btnPage1">Page 1</button>
        <button type="button" class="btn btn-secondary me-2" id="btnPage2" onclick="">Page 2</button>
      </div>
    </section>
  
    <section id="Worklfow" class="container-fluid">
      <h2>Worklfow</h2>
      <table id="nightsTable" class="table table-bordered mx-2">
        <thead></thead>
        <tbody></tbody>
      </table>
      <h3 id="noNightFound" class="text-center">NO USER NIGHTS FOUND!!!</h3>
    </section>
  

    <!-- Modal para Signup novo utilizador -->
    <!-- se retirar o data-bs-backdrop, o modal desaparece ao clicar no fundo da página -->
    <div class="modal fade" id="modalSignup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Registo de novo utilizador
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">E-Mail</label>
              <input type="email" class="form-control" id="usernameSignup" name="usernameSignup" placeholder="E-Mail"/>
              <p id="emailErroLoginSignup"></p>
            </div>
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control" id="senhaSignup" name="senhaSignup" placeholder="Senha"/>
              <p id="statusSignup"></p>
            </div>
            <div class="modal-footer d-block">
                <p id="pLogin" class="float-start">
                    Já tem conta? <a href="#">Entre</a>
                </p>
              <button id="btnCancelaSignup" class="btn btn-warning float-end" data-bs-dismiss="modal">
                Cancelar
              </button>
              <button class="btn btn-success float-end" id="btnSubmitSignup" onclick="postSignup()" data-bs-dismiss="modal">
                Signup
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal para fazer login -->
    <!-- se retirar o data-bs-backdrop, o modal desaparece ao clicar no fundo da página -->
    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Insira suas credenciais
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnLoginClose"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label class="form-label">E-Mail</label>
              <input type="email" class="form-control" id="usernameLogin" name="usernameLogin" placeholder="E-Mail"/>
              <p id="emailErroLogin"></p>
            </div>
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input type="password" class="form-control" id="senhaLogin" name="senhaLogin" placeholder="Senha"/>
              <p id="passErroLogin"></p>
              <p id="statusLogin"></p>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe"/>
              <label class="form-check-label" for="rememberMe">Lembrar-me</label>
            </div>
            <div class="modal-footer d-block">
              <p id="pSignup" class="float-start">
                Sem conta ainda? <a href="#">Registe-se</a>
              </p>
              <button class="btn btn-warning float-end" data-bs-dismiss="modal">
                Cancelar
              </button>
              <button class="btn btn-success float-end" id="btnSubmitLogin" onclick="postLogin()" data-bs-dismiss="modal">
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- TEXTO DE TESTE -->
    <div class="container-lg translate-middle-x">
      <p class="text-primary">OLA MUNDO</p>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center p-5 bg-dark">
      <div class="row">
        <div class="col-sm-4">
          <h6 class="text-secondary">ChatFlow</h6>
          <hr>
          <p>
            <a href="#">ChatFlow</a><br>
            <a href="#" onclick="showSection('home')">Sobre nós</a><br>
            <a class="loggedIn" href="#" onclick="showSection('ChatBot')">ChatBot</a><br>
            <a class="loggedIn" href="#" onclick="showSection('Worklfow')">Upload Ficheiros</a>
          </p>
        </div>

        <div class="col-sm-4">
          <h6 class="text-secondary">Sobre nós</h6>
          <hr>
          <p>
            <a href="#Linguagens" onclick="showSection('home')">Linguagens usadas</a><br>
            <a href="#Equipa" onclick="showSection('home')">Equipa</a><br>
            <a href="#Objetivos" onclick="showSection('home')">Objetivos</a><br>
            <a href="#Manual" onclick="showSection('home')">Manual de utilizador</a>
          </p>
        </div>

        <div class="col-sm-4">
          <h6 class="text-secondary">Contacts</h6>
          <hr>
          <p>
            <i class="fas fa-envelope"></i> 30005819@students.ual.pt<br>
            <i class="fas fa-envelope"></i> 30009700@students.ual.pt<br>
            <i class="fas fa-envelope"></i> 30009680@students.ual.pt<br>
            <i class="fas fa-envelope"></i> 30008938@students.ual.pt
          </p>
        </div>

      </div><br>
      
      <h4 class="text-secondary"><i>@ 2024 Vasco J. Diogo B. Ricardo D. Ricardo B.</i></h4>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
